
body
{
margin:0px;
padding:0px;
    
}
hr{
    margin-top:10px%;
    width:50px;
    color:#3115ff;
}

button
{
    color:#fff;
    width:80%;
    padding:10px;
    border-radius:20px;
    font-size:15px;
    margin:10px 0;
    outline:none;
    border:none;
    cursor:pointer;
   }
.Cv-btn
{
       background-color: #ff2b35;
   }
    

